# Also see .git/info/exclude
#   for other ignored files
**/bin/
**/build/
**/given/
**/tmp/
**/temp/
**/vendor/
**/_minted*/
**/Lectures/
**/*final*
**/*exam*
**/*.dSYM/

*.bkp
*.docx
*.html
.ycm_extra_conf.py
.vimrc
.gutctags


2017-09 - Fall/CSCI 277/
# calculus
2017-05 - Spring/

2020-01 - Winter/CSCI455/cluster-output/
2020-01 - Winter/CSCI455/Lab10-11-Project_3_Matrix_Multiplication/

2019-01 - Winter/CSCI 355/Assig01/
2019-01 - Winter/CSCI 355/Assig02/
2019-01 - Winter/CSCI 355/Assig03/
2019-01 - Winter/CSCI 355/Assig04/
2019-01 - Winter/CSCI 355/Assig05/

2019-09 - Fall/CSCI255-Fall2019/assig1-mystring/
2019-09 - Fall/CSCI255-Fall2019/CSCI 255-Handins/Assign1-HANDIN.pdf
2019-09 - Fall/CSCI255-Fall2019/CSCI 255-Handins/Assign2-HANDIN.pdf
2019-09 - Fall/CSCI255-Fall2019/CSCI 255-Handins/Assign3-HANDIN.pdf
2019-09 - Fall/CSCI255-Fall2019/CSCI 255-Handins/Assign4-HANDIN.pdf


2019-09 - Fall/CSCI255-Fall2019/Lab5-BST Recursion/reverse
2019-09 - Fall/CSCI255-Fall2019/Lab3-Linked Lists/lab3

2018-01 - Winter/CSCI 162/Lab18/rect
2018-01 - Winter/CSCI 162/Lab19/sutr
2018-01 - Winter/CSCI 162/Lab20/delim
2018-01 - Winter/CSCI 162/Lab21/Lab21.cbp
2018-01 - Winter/CSCI 162/Lab21/Lab21.depend
2018-01 - Winter/CSCI 162/Lab21/Lab21.layout
2018-01 - Winter/CSCI 162/Lab21/rev
2018-01 - Winter/CSCI 162/ascii_test
2018-01 - Winter/CSCI 162/assig1/crypt
2018-01 - Winter/CSCI 162/assig2/.depend
2018-01 - Winter/CSCI 162/assig2/main
2018-01 - Winter/CSCI 162/assig3/crib
2018-01 - Winter/CSCI 162/assig3/tester
